.header{
	width: 90%;
	margin: auto;
}
.nameBrand{
	font-family: 'Nunito', sans-serif;
}
.bg-header{
	background-image: url(https://www.wns.co.za/Portals/0/Images/HeaderBanner/desktop/1087/53/travel_HD.jpg);
	height: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.navHeader{
	width: 90%;
}