<div class="pt-24 px-24 bg-slate-950 text-white font-Nunito">
  <div class="grid grid-cols-4 gap-7">
    <div class="">
      <h6 class="text-2xl font-bold mb-4">Company</h6>
      <div class="mb-2">
        <i class="pi pi-angle-right"></i>
        <a href="#">About Us</a>
      </div>
      <div class="mb-2">
        <i class="pi pi-angle-right"></i>
        <a href="#">Contact Us</a>
      </div>
      <div class="mb-2">
        <i class="pi pi-angle-right"></i>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="mb-2">
        <i class="pi pi-angle-right"></i>
        <a href="#">Term & Condition</a>
      
      </div>
      <div class="">
        <i class="pi pi-angle-right"></i>
        <a href="#">FAQs & Help</a>
      </div>
    </div>
    <div class="">
      <h6 class="text-2xl font-bold mb-4">Contact</h6>
      <div class="mb-2">
        <i class="pi pi-map-marker"></i>
        <a href="#">123 Street, New York, USA</a>
      </div>
      <div class="mb-2">
        <i class="pi pi-phone"></i>
        <a href="#">+012 345 6789</a>
      </div>
      <div class="mb-2">
        <i class="pi pi-paperclip"></i>
        <a href="#">Our Email</a>
      </div>
      <div class="flex items-center" style="height: 45px;">
        <a class="mr-4 border-default border-white w-8 h-8 rounded-full hover:bg-light-green hover:text-white" href=""><i class="pl-2 pt-2 pi pi-twitter"></i></a>
        <a class="mr-4 border-default border-white w-8 h-8 rounded-full hover:bg-light-green hover:text-white" href=""><i class="pl-2 pt-2 pi pi-facebook"></i></a>
        <a class="mr-4 border-default border-white w-8 h-8 rounded-full hover:bg-light-green hover:text-white" href=""><i class="pl-2 pt-2 pi pi-linkedin"></i></a>
        <a class="mr-4 border-default border-white w-8 h-8 rounded-full hover:bg-light-green hover:text-white" href=""><i class="pl-2 pt-2 pi pi-instagram"></i></a>
        <a class=" border-default border-white w-8 h-8 rounded-full hover:bg-gray-200 hover:text-slate-950" href=""><i class="pl-2 pt-2 pi pi-youtube"></i></a>
    </div>
    </div>
    <div>
      <h6 class="text-2xl font-bold mb-4">Gallery</h6>
      <div class="grid grid-cols-3 gap-3">
        <img src="https://th.bing.com/th/id/OIP.WlsZ2qUR6T8BIuFmVkmVDQHaE8?w=600&h=400&rs=1&pid=ImgDetMain" class="w-91 h-63 px-1 py-1 bg-white" alt="">
        <img src="https://th.bing.com/th/id/OIP.fuDUWlPbvVYd33sNJE9PiAAAAA?w=474&h=316&rs=1&pid=ImgDetMain" class="w-91 h-63 px-1 py-1 bg-white" alt="">
        <img src="https://www.bing.com/images/blob?bcid=r2kOtIkzt3AGoI1lSb-D8i6EnaV4.....8U" class="w-91 h-63 px-1 py-1 bg-white" alt="">
        <img src="https://www.bing.com/images/blob?bcid=r2kOtIkzt3AGoI1lSb-D8i6EnaV4.....8U" class="w-91 h-63 px-1 py-1 bg-white" alt="">
        <img src="https://th.bing.com/th/id/OIP.WlsZ2qUR6T8BIuFmVkmVDQHaE8?w=600&h=400&rs=1&pid=ImgDetMain" class="w-91 h-63 px-1 py-1 bg-white" alt="">
        <img src="https://th.bing.com/th/id/OIP.fuDUWlPbvVYd33sNJE9PiAAAAA?w=474&h=316&rs=1&pid=ImgDetMain" class="w-91 h-63 px-1 py-1 bg-white" alt="">
      </div>

    </div>
    <div>
      <h6 class="text-2xl font-bold mb-4">Gallery</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, minus!</p>
      <div class="px-4 py-4 bg-white mt-7">
        <input type="text" placeholder="Your email" class="outline-none w-2/3 text-gray-500">
        <a class="px-3 py-2 text-white bg-light-green ml-3" href="#">SignUp</a>
      </div>
    </div>
  </div>
  <div class="h-1 bg-gray-400 mt-5"></div>
  <div class="flex justify-between items-center">
    <p>© <span class="underline">Your Site Name</span>, All Right Reserved. Designed By <span class="underline">HTML Codex</span></p>
    <div class="flex pt-5 pb-5">
      <a href="#" class="pr-3 border-r-default border-gray-500 pl-3">Home</a>
      <a href="#" class="pr-3 border-r-default border-gray-500 pl-3">Cookies</a>
      <a href="#" class="pr-3 border-r-default border-gray-500 pl-3">Help</a>
      <a href="#" class="pr-3 pl-3">FAQs</a>
    </div>
  </div>
</div>
